#features{
  padding-top: 220px;
}


.circle-list {
   
    margin: 0;

}
li{
	list-style: none;
}

.circle-list p{
    margin: 0;
}
#borowers{
border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;
border: 2px solid grey;
}
h3{
	text-align: center;
}
p{
	text-align: center;
	font-size:  15px;
}
