<section id = 'features'>
  <div class = 'container'>
    <div class = 'row'>
          
        <h3 id = 'borowers' class = 'text-center' >Боржники</h3>
        <div class="col-md-12 table-responsive" class= "wow fadeInUp animated" data-wow-delay='.2s' style="visibility: visible; animation-delay:0.2s; animation-name=fadeInUp">
       <table class="table table-striped" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">№ кв</th>
      <th scope="col">Прізвище</th>
      <th scope="col">Сума</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">кв.3а</th>
      <td>Березняк</td>
      <td>771.00грн</td>
    </tr>
    <tr>
      <th scope="row">кв.7а</th>
      <td>Туровська</td>
      <td>1867.20грн</td>
    </tr>
    <tr>
      <th scope="row">кв.19</th>
      <td>Хазан</td>
      <td>2454.20грн</td>
    </tr> 
    <tr>
      <th scope="row">кв.16</th>
      <td>Глухова</td>
      <td>1951.40грн</td>
    </tr>
      </tbody>
   </table>

      </div>
      <p class="text-center" >Нагадуємо, що ОСББ може стягувати борг через суд.
        </p>
    </div>
  </div>
</section>