<div class = 'wrapper'>
<header id="navMain" class="navbar-fixed-top" >
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'col-md-4 col-md-push-4 text-center '>
			 <a href="http://localhost:4200/#"> <img class="mainLogo" src="assets/images/log.svg"> </a>
			</div>
			<div class = 'col-md-3 col-md-pull-4'>
				<b>Веб-сайт мешканців будинку</b>
			</div>
		</div>
	</div>
</header>
<main>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'main-content' class="col-md-8 col-md-push-2 text-center">
				<h1 class="wow fadeInUp animated" style="visibility: visible;  animation-name=fadeInUp"><b>Витрати нашого ОСББ</b></h1>
			<p class="wow fadeInUp animated" data-wow-delay='.2s' style="visibility: visible; animation-delay:0.2s; animation-name=fadeInUp">Для ознайомлення мешканців будинку з фактичними витратами ОСББ, надаємо приклад за два місяці поточного року.</p>
			<p class="wow fadeInUp animated" data-wow-delay='.2s' style="visibility: visible; animation-delay:0.2s; animation-name=fadeInUp"> За детальною інформацією або з пропозиціями щодо оптимізації витрат, ви завжди можете звернутися до керуючого ОСББ.</p>
			<a href="#" class="btn btn-lg video-btn wow  animated" data-wow-delay=".3s" data-effect="mfp-zoom-in" style="visibility: visible; animation-delay: 0.3s;"><i class="fa fa-arrow-down"></i>Витрати ОСББ</a>
			</div>
		</div>
	</div>
</main>
<section id = 'features'>
  <div class = 'container-fluid'>
    <div class = 'row'>

      <div class = 'col-md-6'>
        <h3 id = 'borowers' class = 'text-center'>Останні збори мешканців</h3>
        <p class="list-group circle-list" class="text-center">
          9 листопада пройшли збори мешканців будинку. Були розглянуті та затверджені наступні питання питання:
<ul>
	<li ><p class="text-center">Звіт про виконану роботу управителя</p></li> 
 <li ><p class="text-center">Затвердження кошторису</p></li>
 <li ><p class="text-center">Протокол</p></li>
</ul>

      </div> 
      <div class = 'col-md-6 col-md-pull-0'>
        <h3 id = 'borowers' class = 'text-center'>Боржники</h3>
        <p class="list-group circle-list" class="text-center">
          Станом на 09.11.2017 року, борг перед ОСББ понад 1000 грн мають такі квартири:
5, 10, 15, 20, 25, 30, 35, 40.</p>
<p class="text-center">Нагадуємо, що ОСББ може стягувати борг через суд.
        </p>
      </div>
      <div class = 'col-md-6'>  
      </div>
    </div>
  </div>
</section>
<footer>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<span class = 'text-muted col-md-3'>Веб-сайт мешканців будинку в м.Львів <br> по Пл.Григоренка.4/вул.Менцинського.2
			</span>
			<div class = 'col-md-push-7 col-md-2'>
				<ul>
					<li><p>Бухгалтер</p></li>
					<li class = 'text-muted'>Анна</li>
					<li class = 'text-muted'>097 458 61 21</li>
				</ul>
			</div>
			<div class = 'col-md-push-3 col-md-2'>
				<ul>
					<li><p>Управляючий</p></li>
					<li class = 'text-muted'>Ігор </li>
					<li class = 'text-muted'>097 361 28 71</li>
				</ul>
			</div>
			<div class = 'col-md-pull-1 col-md-2'>
				<ul>
					<li><p>Голова правління</p></li>
					<li class = 'text-muted'>Не обрано </li>
					
				</ul>
			</div>

		</div>
	</div>
</footer>
</div>