<div class = 'wrapper'>
<main>
	<div class = 'container-fluid'>
		<div class = 'row'>
			<div class = 'main-content' class="col-md-8 col-md-push-2 text-center">
				<h1 class="wow fadeInUp animated" style="visibility: visible;  animation-name=fadeInUp"><b>Історія нашого будинку</b></h1>
			<p class="wow fadeInUp animated" data-wow-delay='.2s' style="visibility: visible; animation-delay:0.2s; animation-name=fadeInUp">Для ознайомлення мешканців будинку з фактичними витратами ОСББ, надаємо приклад за два місяці поточного року.</p>
			<p class="wow fadeInUp animated" data-wow-delay='.2s' style="visibility: visible; animation-delay:0.2s; animation-name=fadeInUp"> За детальною інформацією або з пропозиціями щодо оптимізації витрат, ви завжди можете звернутися до керуючого ОСББ.</p>
			<a href="#" class="btn btn-lg video-btn wow  animated" data-wow-delay=".3s" data-effect="mfp-zoom-in" style="visibility: visible; animation-delay: 0.3s;"><i class="fa fa-arrow-down"></i>Витрати ОСББ</a>
			</div>
		</div>
	</div>
</main>
</div>
