<header>
  <div class = 'container-fluid'>
    <div class = 'row' >
      <div class = 'col-md-4 col-md-push-4 text-center'>
        <a href="http://osbb-levynske.lviv.ua/home"> <img class="mainLogo" src="assets/images/var2.jpg" > </a>
      </div>
      <div class = 'col-sm-3 col-xs-10 col-md-1 col-md-pull-4'>
        <li><a  href="#news" routerLink="/news" routerLinkActive="active" ><b>
        <button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-list-alt" ></span>Новини</button></b></a></li>
      </div>
      <div class = 'col-sm-3 col-xs-10 col-md-1 col-md-pull-3'>
          <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-usd"></span>
                Фінанси
                <span class="caret"></span>
            </button>
            <ul class = 'dropdown-menu ' >
                <li ><a href ='#contracts' routerLink="/contracts" >Договори</a></li>
                <li><a href ='#borowers' routerLink="/borowers">Боржники</a></li>
                <li><a href ='#spending' routerLink="/spending">Витрати</a></li>
                <li><a href ='#calculation' routerLink="/calculation">Кошторис</a></li>
            </ul>
          </div>
      </div>  
      <div class = 'col-sm-4 col-xs-10 col-md-1 col-md-push-2'>
        <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="true">
              <span class="glyphicon glyphicon-paperclip"></span>
                Документація
                <span class="caret"></span>
            </button>
            <ul class = 'dropdown-menu ' >
                <li ><a href ='#regulations' routerLink="/regulations" >Нормативні документи ОСББ</a></li>
                <li><a href ='#control' routerLink="/control">Протоколи правління</a></li>
                <li><a href ='#meeting-protocols' routerLink="/meeting-protocols">Протоколи загальних зборів</a></li>
                <li><a href ='#revision' routerLink="/revision">Акти Ревізійної комісії</a></li>
            </ul>
          </div>
      </div>
      <div class = 'col-sm-2 col-md-1 col-md-push-3 ' id="cont">
            <div class="dropdown">
            <button type="button" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              <span class="glyphicon glyphicon-phone-alt"></span>
              Контакти
              <span class="caret"></span>
            </button>
            <ul class = 'dropdown-menu '>
                <li><a  href ='#contacts' routerLink="/contacts">Контакти правління</a></li>
            </ul>
          </div>
      </div>
  </div>
</div>
</header>
<main>
        <div class = 'container'>
        <router-outlet></router-outlet>
      </div>

</main>
<footer>
  <div class = 'container-fluid'>
    <div class = 'row'>
    <span class = 'text-muted col-md-3'>
        <a href = 'FAQ' id="btn" routerLink = '/faq' routerLinkActive = 'active' class="btn btn-lg video-btn wow  animated" data-wow-delay=".3s" data-effect="mfp-zoom-in" style="visibility: visible; animation-delay: 0.3s;"><i class="fa fa-arrow-down">Питання/Відповіді</i></a>
      </span>
      <div class = 'col-md-push-7 col-md-2'>
        <ul>
          <li><p>Голова правління</p></li>
          <li class = 'text-muted'>Ігор</li>
          <li class = 'text-muted'>097 361 28 71</li>
          <li class = 'text-muted'>tvoyezhytlo@gmail.com</li>
        </ul>
      </div>
      <div class = 'col-md-push-3 col-md-2'>
        <ul>
          <li><p>Бухгалтер</p></li>
          <li class = 'text-muted'>Анна </li>
          <li class = 'text-muted'>097 458 61 21</li>
        </ul>
      </div>
    </div>
  </div>
</footer>